@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
  @font-face {
    font-family: 'Matahari';
    src:
      local('Matahari Regular'),
      url('../fonts/Matahari-400Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Matahari';
    src:
      local('Matahari Bold'),
      url('../fonts/Matahari-700Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SVN-Gratelos';
    src:
      local('SVN-Gratelos Display 2'),
      url('../fonts/SVN-Gratelos Display 2.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}


@theme {
    --font-sans: 'Matahari', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';


    /* Custom color */
    --color-dark-green: #005651;
}

@layer utilities {
    .font-matahari {
        font-family: 'Matahari';
    }
    .font-gratelos {
        font-family: 'SVN-Gratelos';
    }
}
